<div class="row justify-content-center">
	<div class="col-sm-10">
		<h1 class="text-center" style="color: #3EA2B7;margin-bottom: 10px;">Bertrand Verdun</h1>
		<h3 class="text-center" style="color: #3EA2B7;margin-bottom: 60px;">Développeur Java</h3>
		<div class="list-group text-justify">
			<div class="list-group-item" >
				<h2 class="text-center" style="color: #3EA2B7;">Le site</h2>
				<h4>Cette One-page App est un projet personnel dans le but de maitriser Angular 8, Firebase et Bootstrap.</h4>
				<p>J'améliorerai ce site régulièrement, en ajoutant du contenu, des fonctionnalités voire en changeant le concept. Vous trouverez tout mes autres projets dans les onglets du menu au fur et à mesure de mon parcours !</p>
			</div>
			<div class="list-group-item">
				<h2 class="text-center" style="color: #3EA2B7;">Qui je suis</h2>
				<p>Je suis <strong>Bertrand</strong>, originaire du Nord-est de la France.</p>
				<p>Diplomé Ingénieur mécanique à l'<a href="https://enim.univ-lorraine.fr/" target="_blank">E.N.I.M.</a> en 2019, je finis mes études en 2020 avec un année de formation au Développement Logiciel & Web à l'<a href="https://www.ifa-formation.fr//" target="_blank">I.F.A</a>.</p>
				<p>Je suis actuellement en <strong>recherche de stage Développeur Java du 24-06 au 26-08-20</strong> pour finaliser ma formation à l'Institut Français des Affaires. Je monte en compétences dans les technologies:</p>
				<ul>
					<li>Java, J2EE, Spring, Hibernate</li>
					<li>JavaScript, Angular 8</li>
					<li>React Native</li>					
					<li>Oracle</li>
					<li>Merise/UML</li>
				</ul>
			</div>
			<div class="list-group-item">
				<h2 class="text-center mb-4" style="color: #3EA2B7;">Faisons connaissance: Contactez-moi !</h2>
				<div  class="d-flex flex-row mb-3 justify-content-center">
					<img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" width="40px" height="40px">
					<h5><a style="font-weight: bold;" class="ml-2" href="https://www.linkedin.com/in/bertrand-verdun/" target="_blank">Mon profil LinkedIn</a></h5>
				</div>
				

				<iframe src="https://docdro.id/FRdKZB9" width="100%" height="1050px"></iframe>

			</div>
		</div>
	</div>
</div>
